<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>House of Amsterdam</title>
  <link rel="stylesheet" href="about.css">
</head>

<body>

  <header>
    <nav class='buttonsDiv'>
      <a class="nav-link" href="/index/index.html">House Of Amsterdam</a>
      <a class="nav-link" href="/services/services.html">Services</a>
      <a class="nav-link" href="/about/about.html">About</a>
      <a class="nav-link" href="/contact/contact.html">Contact</a>
    </nav>
  </header>

  <section class="hero">
    <p>The sky might be your limit,</p>
    <p>but we can take you to <span id="mars">Mars.</span></p>
  </section>

  <main>

  </main>

  <footer>
    <small>
      Copyright - Please click <a href="https://www.boredpanda.com/angry-kittens/">here</a> to see the detailed and
      important rights of the Intergalactic Travel Agencies intellectual property.
    </small>
  </footer>
  <script src="about.js"></script>
</body>
</html>